# Core libraries
torch>=2.6.0
torchaudio>=2.1.0
einops>=0.8.1
ndlinear>=1.0.0         

# Analysis / profiling
fvcore>=0.1.5.post20221221
torchinfo>=1.8.0
tqdm>=4.67.1
matplotlib>=3.10.1
numpy>=1.26.4
pandas>=2.2.3
scikit-learn>=1.6.1

